<!DOCTYPE html>
<html>
    <head>
        <title>Contato</title>
        <style>
            body { background-color: black; }
        h1 { color: white}
        </style>
    </head>
    <body >
        <h1>Redes Sociais</h1>
    </body>
</html>  